.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-avatar img{
  width: 100%;
  border-radius: 100px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
  list-style: none;
    width: 48%;
    display: inline-block;
    margin: 10px;
    text-align: left;
}
.user-icon{
  width: 40px;
  margin: 10px;
}
.user-icon img{
  width: 100%;
} 
.btn-group{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.newquestion .card{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding: 20px;
}
.newquestion form{
  width: 100%;
}

.leaderboard .user-avatar{
  width: 115px;
}

.badge-secondary{
  position: absolute;
    right: 6px;
    top: -8px;
    background-color: #41b544;
}
.lt-ans-snippet{
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .poll-result-container{
  background: #d8d8d8;
}
.navbar-nav a{
  margin-left: 20px;
}
.navbar-nav{
  margin: 0 auto;
}
